/* .topNavigator{ */
    /* height: 40px; */
    /* background: linear-gradient(to bottom right,rgb(240, 195, 165),rgb(247, 235, 228)); */
    /* background: rgb(240, 195, 165); */
    /* box-shadow: 0px 1px 2px rgb(247, 235, 228), 0px 1px 5px rgba(110, 106, 100, 0.7); */
/* } */


#components-layout-demo-side .logo {
  height: 32px;
  background:#1F2F49;
  /* background:white; */
  margin: 16px;
}

.cytoolbar_id {
    list-style-type: none;
    /* margin-bottom: 10px; */
    margin-top: 50px;
    margin-right: 20px;
    top: 70px;
    right: 30px;
    padding: 0;
    width: 4%;
    height: 310px;
    background-color: white;
    box-shadow: 0px 1px 2px rgb(247, 235, 228), 0px 1px 2px rgba(0, 0, 0, .7);
    position: fixed;
    /* overflow: auto; */
    z-index: 2;
    border: 1px;
    border-radius: 5px;
  }
  .center-center {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 5px;
  }
  a {
    text-decoration: none;
  }
  .propertyDisplay {
    height: 100px;
    width:80%;
    margin-left: 5.5%;
    /* margin-right: 20%; */
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
  }
  #labels {
    background-color: rgb(248, 182, 138);
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(253, 146, 84), 0px 1px 2px rgba(0, 0, 0, 0.7);
    font-weight: bold;
  }
  .Int_question {
    position: fixed;
    bottom: 130px;
    right: 50px;
  }
  .navigatorAboveDrawer{
    background-color: white;
    /* background-color: #8C99AC; */
    margin-left: 5.5%;
    width:80%;
    border: 1px;
    border-radius:5px 5px 0px 0px;
    border-style: groove groove none groove;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
  }
  .mytab{
    margin:0;
    padding:0;
    height:30px;
    width: 80px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px 5px 0px 0px;
    /* margin-right: 2px; */
  }
  .active1{
    background-color: #161616;
    border: 0px solid;
  }
  .tabTitle{
    font-family:Serif;
    font-weight: bold;
  }
  .active2{
    color: white;
  }
  .active3{
    color: white;
  }